.video__content__wrapper {
  margin-left: 60px;
}
.video__content__title {
  font-size: 26px;
  color: #e5e5e5;
  cursor: pointer;
  position: relative;
}

.video__content__title span a {
  text-decoration: none;
  color: #54b9c5;
}
.video__content__title span {
  display: none;
  font-size: 20px;
  color: #54b9c5;
  margin-right: 4px;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.video__content__title:hover span {
  display: inline;
  animation: fade-in 0.5s ease; /* 나타나는 애니메이션 적용 */
}

.video__arrow__right::after {
  position: absolute;
  top: 10px;
  content: "";
  width: 7px;
  height: 7px;
  border-top: 4px solid #54b9c5;
  border-right: 4px solid #54b9c5;
  transform: rotate(45deg);
}

.video__content {
  display: inline-block;
  white-space: nowrap;
  overflow-x: auto;
  scroll-behavior: smooth;
  margin-top: 13px;
  height: 300px;
}

.video__content::-webkit-scrollbar {
  display: none;
}

.video__content__item {
  margin-right: 7px;
  cursor: pointer;
  transition: transform 0.3s ease;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.video__content__item:hover {
  transform: scale(1.5, 1.5);
  z-index: 44;
}

.video__content__item__img {
  margin-top: 30px;
  display: inline-block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
