.video__content__wrapper {
  margin-left: 60px;
}
.video__content__title {
  font-size: 26px;
  color: #e5e5e5;
  cursor: pointer;
}

.video__content__title span {
  /* display: none; */
  font-size: 17px;
  color: #54b9c5;
  margin-right: 4px;
}

.video__content__title:hover .video__content__title span {
  color: #ffffff;
  transition: color 0.2s ease;
  display: flex;
}

.video__arrow__right {
  position: relative;
}

.video__arrow__right::after {
  position: absolute;
  /* left: 10px; */
  top: 3px;
  content: "";
  width: 10px;
  height: 10px;
  border-top: 4px solid #54b9c5;
  border-right: 4px solid #54b9c5;
  transform: rotate(45deg);
}
